.booking-page {
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.booking-page h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #7b3f00;
}

.booking-page p {
    font-size: 1.5em;
    color: #00107b;
    margin-bottom: 0.5em;
    font-weight: 900;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

.booking-form label {
    font-size: 1.1em;
    margin-bottom: 0.5em;
    color: #00107b;
    font-weight: 600;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.booking-form button {
    align-self: flex-start;
}
.intaSendPayButton{
    display: block;
    width: 100%;
    padding: 0.75em;
    border: none;
    background-color: #7b3f00;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.back-btn {
   
    color: #333;
    text-decoration: none;
    margin-top: 1em;

    padding: 0.75em;
    border: none;
    background-color: #7b3f00;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.back-btn:hover {
    background-color: #aaa;
}