* {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    margin: auto;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-bottom: 0px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 70px;
    margin-left: 100px;
}

.navigation {
    padding: 14px;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #7b3f00;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #7b3f00;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .lgn-btn {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #7b3f00;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #7b3f00;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    margin-right: 60px;
}

.navigation .lgn-btn:hover {
    background: #7b3f00;
    color: #ffffff;
}

.first {
    width: 90%;
    margin: auto;
    margin-top: 0px;
}

.img-container {
    position: relative;
    width: 100%;
}

.img-container img {
    height: auto;
    width: 100%;
}

.img-container button {
    background: #7b3f00;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 2.1em;
    color: #ffffff;
    font-weight: 400;
    transition: .5s;
    top: 77%;
    left: 20%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    text-align: center;
    padding: 8px;
    max-width: 261px;
}

.img-container button:hover {
    background: #ffffff;
    color: #7b3f00;
    border: 2px solid #7b3f00;
}

.search {
    width: 100%;
    background-color: #f8f8ea;
    display: flex;
    justify-content: center;
}

.search-btn {
    padding: 5px 5px;
    margin-left: 5px;
    margin-top: 25px;
    margin-bottom: 16px;
    background: #7b3f00;
    color: #f8f8ea;
    border: none;
    font-size: larger;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-input-wrapper {
    position: relative;
    width: 60%;
    margin-top: 25px;
    margin-bottom: 18px;
}

.search-input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #7b3f00;
    border-radius: 45px;
    outline: none;
    font-size: 1em;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #7b3f00;
}

.search-btn:hover {
    background: #f8f8ea;
    color: #7b3f00;
    border: solid 2px #7b3f00;
}

.Grid {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    margin-top: 0px;
    justify-content: center;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center; /* Center the content horizontally */
}

.column {
    flex: auto;
    max-width: 25%;
    padding: 0 4px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center images and text horizontally within column */
}

.img-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column img {
    margin-top: 8px;
    width: 100%;
    vertical-align: middle;
    border-radius: 6px;
    object-fit: cover;
}

.column:first-child .img-container img,
.column:last-child .img-container img {
    height: 480px;
}

.column:nth-child(2) .img-container img {
    height: 237px;
}

.img-container p {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 0;
    margin: 0;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
